<%= form_with model: @sample do |form| %>
  <div class="container">
    <div class="mb-3">
      <%= form.label :customer_name, {class: "form-label"} %><br>
      <%= form.text_field :customer_name, { class: "form-control", placeholder: "Customer Name" } %>
    </div>
    <div class="mb-3">
      <%= form.label :barcode, {class: "form-label"} %><br>
      <%= form.text_area :barcode, { class: "form-control", placeholder: "Barcode" } %>
    </div>
    <div class="mb-3">
      <%= form.label :sample_id, {class: "form-label"} %><br>
      <%= form.text_area :sample_id, { class: "form-control", placeholder: "Sample ID" } %>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>